@charset "utf-8";
h1 {text-align: center}
body {background-color:darksalmon}

hr{
	color:black;
	background-color:black;
	height: 3px
}
.vse2{
	max-width: 900px;
	min-width: 300px;
	height: auto;
	margin: 20px auto;
	background-color: bisque;
	box-shadow: 0 5px 10px;
	border-radius: 10px;
}
li{font-size: 25px;
	margin-left: 30px;
	margin-top: 5px}
  #menu, #menu li {

        margin: 0; /* убрать внутренние отступы */
        padding: 0; /* убрать внешние отступы */

    }

    #menu {

        background: #F76466; /* цвет фона навигационной панели */

    }

    #menu li{

        display:inline-block; /* расположить пункты горизонтально */
        text-align: center; /* текст горизонтально по центру */
		
    }

    #menu a {

        display: block; /* ссылка растягивается на весь пункт li */
        padding: 5px 50px; /* задаем внутренние отступы */
        color: #fff; /* цвет текста */
        text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
		
    }

    #menu a:hover {

        background: #8AB8CC; /* фон пунктов при наведении */

    }
a{color:#FF5E61; /* цвет текста */
  text-decoration: none;
}
